@model UserRegistration.Models.User

@{
    ViewBag.Title = "Register User";
}

<div class="row">
    <div class="col-md-6">
        <h2>Register User</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ViewUsers", "Home"))
        {
            <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i> View Users</button>
        }
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("CreateUser", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="col-md-2">
            <button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Register User</button>
        </div>
    }
</div>